<div class="flex flex-col">
    <div class="-my-2 py-4 overflow-x-auto -mx-6 px-6 lg:-mx-8 lg:px-8">
        <div class="align-middle inline-block shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
            <table>
                <thead>
                    <tr>
                        <th class="p-3 border-b border-gray-200 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Level
                        </th>
                        <th class="pl-3 text-left border-b border-gray-200 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b border-gray-200">
                        <td class="py-3 text-center" style="background-color: #ffa600">1</td>
                        <td class="px-3 text-sm">
                            Introduction to a topic at a University level.
                        </td>
                    </tr>
                    <tr class="bg-white border-b border-gray-200">
                        <td class="py-3 text-center text-white" style="background-color: #ef5675">2</td>
                        <td class="px-3 text-sm">
                            Progressive reinforcements of a topic at a University level.
                        </td>
                    </tr>
                    <tr class="bg-white border-b border-gray-200">
                        <td class="py-3 text-center text-white" style="background-color: #7a5195">3</td>
                        <td class="px-3 text-sm">
                            Progressive and advanced reinforcements of a topic at a University level.
                        </td>
                    </tr>
                    <tr class="bg-white">
                        <td class="py-3 text-center text-white" style="background-color: #003f5c">4</td>
                        <td class="px-3 text-sm">
                            Reinforcement of skills commensurate with an Honours graduate and entry to professional practice.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

