@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>AccessDenied</h1>
<h2 class="text-danger">You are not authorised to perform this action, please contact system administrator for more information.</h2>

