@page
@model UoN.AccrediTool.Web.Pages.DownloadProjectModel
@{
}




<section class="py-4">
    <div class="bg-white overflow-hidden shadow rounded-lg">
        <div class="border-b border-gray-200 px-4 py-5 sm:px-6">

            <form method="post">
                <select asp-for="projectId">
                    @for(int i = 0; i < Model.projectModels.Count; i++)
                    {
                        <option value="@Model.projectModels[i].ProjectId">
                            @Model.projectModels[i].Name
                        </option>

                    }

                </select>
                <br>
                <button type="submit">Download</button>
            </form>
        
        </div>
    </div>
</section>