@page
@model IndexModel
@{
  ViewData["Title"] = "Home Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>


function viewProject(projectId)
{
  window.location.href = "/View/Project?projectId=" + projectId;
}


</script>

<section class="py-4">
  <div class="bg-white overflow-hidden shadow rounded-lg">
      <div class="px-4 py-5 sm:px-6 container mx-auto">
        <div class="grid grid-cols-3 gap-x-10 gap-y-5" id="slot-grid">
          @for(int i = 0; i < Model.ProjectModels.Count; i++)
          {

            <div class="h-16 border border-gray-200 cursor-pointer hover:border-blue-500 bg-gray-100 px-6" id="project-slot-@i" onclick="viewProject(@Model.ProjectModels[i].ProjectId)">
                <h2 class="text-center text-blue-700"><b> @Model.ProjectModels[i].Name </b></h2> 
            </div>
                
          }


        </div>


      </div>


        <div class="border-b border-gray-200 px-4 py-5 sm:px-6 container mx-auto grid grid-cols-3 place-items-center">
          <div class="col-span-1"></div>         
        </div>
        

      
  </div>
</section>
